.facturation main{
    padding: 0 40px;
}
.facturation main .head{
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: row;
}
.facturation main .head .left{
    width: 500px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 40px;
    padding: 10px;
}
.facturation main .head .left .textfield{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 0.35fr 1.65fr;
    grid-template-rows: 35px;
}
.facturation main .head .left .textfield span{
    font-weight: 900;
    border-radius: 5px;
    background: #232c3b;
    color: #a4e2cb;
    display: flex;
    align-items: center;
    margin: 4px 0;
    width: 30px;
}
.facturation main .head .left .textfield input{
    font-size:18px;
    width: 95%;
    padding: 0px;
}
.facturation main .head .left .textfield p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size:18px;
}
.facturation main .head .left .textfield0{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.facturation main .head .left .textfield01{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.facturation main .head .left .textfield p input{
    width: 85%;
    font-size:17px;
    padding: 0px;
}
.facturation main .head .right{
    height: 100%;
    width: 60%;
}
.facturation main .head .right .images{
    margin-bottom: 20px;
    height: 90%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}
.facturation main .head .left .textfield01 span{
    font-weight: bold;
    color: green;
}
.facturation main .head .left .textfield01 .icon{
    font-weight: 900;
    padding: 10px;
    background: green;
    color: #a4e2cb;
    cursor: pointer;
}
.facturation main .body{
    width: 100%;
    height: 40px;
}
.facturation main .body .top{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.facturation main .body .top div{
    margin: 0 40px;
}
.green{
    color: green;
    font-weight: 900;
}
.facturation main .body .bottom{
    background: #fff;
    width: 100%;
    height: 48vh;
}
.facturation main .body .bottom table{
    width: 100%;
    border-collapse: collapse;
}
.facturation main .body .bottom table th{
    background: #232c3b;
    color: white;
}
.facturation main .body .bottom table th,
.facturation main .body .bottom table td{
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}
.facturation main .body .end{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.facturation main .body .end span{
    padding: 10px 20px;
    margin: 0 16px;
    background: #232c3b;
    color: white;
    cursor: pointer;
}
.facturation main .body .end span:nth-child(1){
    margin: 0;
}
.facturation main .body .end span:nth-child(2){
    background: red;

}