* {
    box-sizing: border-box;
}

.page {
    background: linear-gradient(45deg,
            #a4e2cb, #a4e2cb);
    min-height: 100vh;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.page .toutcat {
    border-color: green;
    border-width: 0.1px;
    border-style: ridge;
    padding-left: 50%;
    margin-right:30px;
}

.page .sam {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.page .sam .chemin{
    padding: 10px 20px;
}


.page .containt {
    margin: 20px;
    backdrop-filter: blur(7px);
    background-color: #fff0;
    border-radius: .8rem;
}

.page .imprim,
.page .refresh {
    padding-inline: 20px;
    padding-block: 10px;
    margin-top: 20px;
    margin-right: 5px;
    background-color: #0000001f;
    border-style: hidden;
    border-radius: .4rem;
}


.page .searchs {
    background-color: #fff0;
    border-style: hidden;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page .searchs containt{ 
    display: flex;
    flex-direction: row;
}
.page .search {
    background-color: #fff0;
    border-style: hidden;
    margin-left: 20px;
}

.page .loupe {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.page .ploupe {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.page input {
    outline: none;
    padding-inline: 10px;
    padding-block: 8px;
    background-color: #fff0;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-color: #000000;
}

.page #code {
    padding-inline: 1px;
    padding-block: 8px;
    background-color: #fff0;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-width: 1px;

}

.page #code:focus-within {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}


.page .pBox {
    width: 95%;
    margin-top: 10px;
    margin-left: 22px;
    background-color: #e1e3ef;
    padding: 10px;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px black, inset 0 0 10px black;
    flex-wrap: wrap;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    height:60vh;
}

.page .ppBox {
    height: 90%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 5px rgb(78, 77, 77), inset 0 0 5px rgb(78, 77, 77);
    border-radius: .8rem;
    margin: 10px;
}

.page .num {
    width: 100%;
    height: 20px;
    text-align: center;
}

.page .qte {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
}

.page .pimage {
    width: 100%;
    height: 60%;
    margin-right: .3rem;
    margin-bottom: .3rem;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.page main::-webkit-scrollbar {
    position: top;
    width: 0.5rem;
    height: 0.5rem;
}

.page main::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0005;
    visibility: hidden;
}

.page main:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.page .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page .pagination .nume{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.page .pagination .nbpage{
    font-size: 13px;
    margin-top: 10px;
}

.page .pagination a {
    background-color: whitesmoke;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.page .pagination span{
    padding: 8px 12px;
    cursor: pointer;
}
.page .pagination a.active {
    background: radial-gradient(#a4e2cb, #b0b6b4);
    color: #000;
}

.page .pagination a:hover:not(.active) {
    background-color: #ddd;
}

.page main .searchs .creer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}
.page main .searchs .creer .add{
    font-weight: 900;
}
.ae{
    color: #232c3b;
}